body {
  background-color: #F4FFE4;
  color: #333333;
}

h1 {
  background-color: #D5EDB3;
  color: #5C743D;
}

h2 {
  background-color: #D5EDB3;
  color: #5C743D;
  background-image: url("trilliumbg.gif");
  background-repeat: no-repeat;
  padding-left: 30px;

}

.feature {
  color: #FF0000;
}

#content {
  background-color: #F4FFE4
}

.companyName {
  color: #5C743D;
}

footer {
  font-style: italic;
  font-size: small;
  background-image: url("trilliumfoot.gif");
  background-repeat: no-repeat;
  background-position: right top;
  height: 75px;
}

ul {
  list-style-image: url(part-III/warmupActivity/images/trillium.gif);
}
