body {
  font-family: Arial, Verdana, sans-serif;

}


h2 {
  color: #000033;

  font-family: arial, sans-serif;
  text-shadow: 3px 3px 3px #cccccc

}


h1{
  font-size: 300%;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  text-shadow: 3px 3px 3px #666666;
  width: 700px;
  height: 100px;
  padding-top: 30px;
  padding-left: 150px;
  background-image: url(images/lighthouselogo.jpg);
}



footer {
  font-size: .80em;

  font-style: italic;

}

#container {
  background-color: #ffffff;
  width: 850px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 5px #1e1e1e;


}
