body {
  background-color: #F0DEB4;
  color: #2E0000
}

h1 {

  color: #b5651d;

  text-shadow: 3px 3px 3px #000000;
  text-align: center;


}

  footer {
  background-color:#D2B48C;
  color: #000000;
  font-style: italic;
  text-align: center;

  }

  nav {
    text-align: center;
  }

  #container {
    background-color: #F5F5DC;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 5px 5px 5px #1e1e1e;
